In [1]:
import pandas as pd
import config as cfg
import requests
import pymysql
import numpy as np
import csv
import pymysql.cursors

In [10]:
api_key = cfg.settings["census"]["key"]

connection = cfg.get_db_connection()

try:
    with connection.cursor() as cursor:
        # Read a single record
        cursor.execute("SELECT Geoid FROM community_units WHERE community_id=1")
        rows = cursor.fetchall()
        print(rows)
finally:
    connection.close()

(('371190061091',), ('371190061082',), ('371190055081',), ('371190055102',), ('371190061081',), ('371190055082',), ('371190055112',), ('371190061061',), ('371190061071',), ('371190061051',), ('371190061072',), ('371190061062',), ('371190055113',), ('371190055101',), ('371190055111',))

In [48]:
list_of_bgs=[]
for i in rows:
    i = ''.join(filter(lambda x: x in '.0123456789', str(i)))
    i = str(i)
    list_of_bgs.append(i)

In [51]:
list_of_bgs

['371190061091',
 '371190061082',
 '371190055081',
 '371190055102',
 '371190061081',
 '371190055082',
 '371190055112',
 '371190061061',
 '371190061071',
 '371190061051',
 '371190061072',
 '371190061062',
 '371190055113',
 '371190055101',
 '371190055111']

In [52]:
# list_of_bgs = ['371830501001','371830507001','371830507002']
def pull_census(geoid):
    state = geoid[0:2]
    county = geoid[2:5]
    tract = geoid[5:11]
    blockgroup = geoid[11:]

    url = ("https://api.census.gov/data/2010/sf1?get=NAME,P0050001,P0050002,P0050003,P0050004,P0050005,"+
            "P0050006,P0050007,P0050008,P0050009,P0050010,P0050011,P0050012,P0050013,P0050014,P0050015,"+
            "P0050016,P0050017,H0110001,H0110002,H0110003,H0110004&for=block%20group:"+ blockgroup +
            "&in=state:" + state + "%20county:" + county + "%20tract:" + tract + "&key=" + api_key)
    html = requests.get(url).json()
    bg_data = pd.DataFrame(html, columns=html[0])
    return bg_data[1:]


census_data = pull_census(list_of_bgs[0])

if len(list_of_bgs) > 1:
    for bg in list_of_bgs[1:]:
        next_bg = pull_census(bg)
        census_data = pd.concat([census_data,next_bg])

census_data

# Variables of interest:
    # - P0050001-P00500017: Race/Ethnicity
    # - 
    # - H0100001-H0100004: Population in Owned v. Rented units

,NAME,P0050001,P0050002,P0050003,P0050004,P0050005,P0050006,P0050007,P0050008,P0050009,...,P0050016,P0050017,H0110001,H0110002,H0110003,H0110004,state,county,tract,block group
1,Block Group 1,3514,3163,281,2791,1,22,12,0,56,...,163,34,2963,1589,343,1031,37,119,006109,1
1,Block Group 2,1961,1669,318,1282,4,32,0,4,29,...,142,28,1961,1245,73,643,37,119,006108,2
1,Block Group 1,2319,2195,1546,500,4,93,1,0,51,...,25,4,2319,1898,163,258,37,119,005508,1
1,Block Group 2,3308,2832,476,2223,6,76,0,6,45,...,242,19,3308,2133,51,1124,37,119,005510,2
1,Block Group 1,2380,2172,533,1494,15,70,0,14,46,...,92,20,2380,1890,96,394,37,119,006108,1
1,Block Group 2,1871,1731,1033,554,7,89,1,7,40,...,34,7,1871,1496,87,288,37,119,005508,2
1,Block Group 2,1222,1132,453,549,3,73,4,10,40,...,39,9,1222,277,12,933,37,119,005511,2
1,Block Group 1,2273,2114,1198,802,9,50,0,2,53,...,58,8,2273,1523,114,636,37,119,006106,1
1,Block Group 1,2707,2264,705,1362,7,121,0,15,54,...,188,26,2707,1937,116,654,37,119,006107,1
1,Block Group 1,2673,2427,1312,958,12,87,0,8,50,...,87,19,2673,2115,148,410,37,119,006105,1
1,Block Group 2,1617,1474,745,556,9,124,0,3,37,...,63,8,1617,8,0,1609,37,119,006107,2
1,Block Group 2,1278,1203,615,503,2,47,1,2,33,...,25,7,1278,972,49,257,37,119,006106,2
1,Block Group 3,1430,1321,621,551,7,110,0,0,32,...,44,11,1430,376,44,1010,37,119,005511,3
1,Block Group 1,1899,1133,450,610,19,25,1,4,24,...,406,42,1899,823,250,826,37,119,005510,1
1,Block Group 1,984,919,369,493,2,19,1,1,34,...,35,1,948,373,18,557,37,119,005511,1

In [53]:
census_data['P0050001']=census_data['P0050001'].astype(str).astype(int)
census_data['P0050002']=census_data['P0050002'].astype(str).astype(int)
census_data['P0050003']=census_data['P0050003'].astype(str).astype(int)
census_data['P0050004']=census_data['P0050004'].astype(str).astype(int)
census_data['P0050005']=census_data['P0050005'].astype(str).astype(int)
census_data['P0050006']=census_data['P0050006'].astype(str).astype(int)
census_data['P0050007']=census_data['P0050007'].astype(str).astype(int)
census_data['P0050008']=census_data['P0050008'].astype(str).astype(int)
census_data['P0050009']=census_data['P0050009'].astype(str).astype(int)
census_data['P0050010']=census_data['P0050010'].astype(str).astype(int)
census_data['P0050011']=census_data['P0050011'].astype(str).astype(int)
census_data['P0050012']=census_data['P0050012'].astype(str).astype(int)
census_data['P0050013']=census_data['P0050013'].astype(str).astype(int)
census_data['P0050014']=census_data['P0050014'].astype(str).astype(int)
census_data['P0050015']=census_data['P0050015'].astype(str).astype(int)
census_data['P0050016']=census_data['P0050016'].astype(str).astype(int)
census_data['P0050017']=census_data['P0050017'].astype(str).astype(int)
census_data['H0110001']=census_data['H0110001'].astype(str).astype(int)
census_data['H0110002']=census_data['H0110002'].astype(str).astype(int)
census_data['H0110003']=census_data['H0110003'].astype(str).astype(int)
census_data['H0110004']=census_data['H0110004'].astype(str).astype(int)
census_data['Hispanic']=census_data['P0050001']-census_data['P0050002']

In [54]:
# census_data['Hispanic']

In [55]:
#calcs
pct_white_non_hispanic=census_data['P0050003'].sum()/census_data['P0050001'].sum()
pct_black_non_hispanic=census_data['P0050004'].sum()/census_data['P0050001'].sum()
pct_hispanic=census_data['Hispanic'].sum()/census_data['P0050001'].sum()
pct_AINI_non_hispanic=census_data['P0050005'].sum()/census_data['P0050001'].sum()
pct_asian_non_hispanic=census_data['P0050006'].sum()/census_data['P0050001'].sum()
pct_NHPI_non_hispanic=census_data['P0050007'].sum()/census_data['P0050001'].sum()
pct_other_non_hispanic=census_data['P0050008'].sum()/census_data['P0050001'].sum()
pct_multi_non_hispanic=census_data['P0050009'].sum()/census_data['P0050001'].sum()
pct_renters=census_data['H0110004'].sum()/census_data['H0110001'].sum()

In [57]:
d = {"race:pct_white_non_hispanic":pct_white_non_hispanic, "race:pct_black_non_hispanic": pct_black_non_hispanic, "race:pct_AINI_non_hispanic": pct_AINI_non_hispanic, "race:pct_asian_non_hispanic": pct_asian_non_hispanic,"race:pct_hispanic":pct_hispanic, "race:pct_other_non_hispanic":pct_other_non_hispanic, "race:pct_multi_non_hispanic":pct_multi_non_hispanic, "housing:pct_renters":pct_renters }

In [58]:
d

{'housing:pct_renters': 0.3445816720153003,
 'race:pct_AINI_non_hispanic': 0.0034037409339610636,
 'race:pct_asian_non_hispanic': 0.03301946812571574,
 'race:pct_black_non_hispanic': 0.48441277516223435,
 'race:pct_hispanic': 0.11728591423845273,
 'race:pct_multi_non_hispanic': 0.019849853670950504,
 'race:pct_other_non_hispanic': 0.0024176103830003816,
 'race:pct_white_non_hispanic': 0.3389426135640667}

In [59]:
(pd.DataFrame.from_dict(data=d, orient='index')
   .to_csv('dict_file.csv', header=False))